ul {
  list-style-type: none;
}

.box {
  margin-left: 5vw;
  font-size: 1.3em;
}

.title {
  font-family: 'Courier';
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
}

.item {
  font-style: normal;
  color: #61dafb;
  font-size: 0.7em;
  font-family: 'Dank Mono Regular';
}