/*@font-face {
    font-family: 'Monaco';
    src: local('Monaco'), url('./assets/Monaco.ttf') format('truetype');
}*/

@font-face {
  font-family: 'Dank Mono';
  src: url('%PUBLIC_URL%/DankMono_Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Dank Mono';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
