@font-face {
  font-family: 'Dank Mono Regular';
  src: local('Dank Mono Regular'), url('./assets/DankMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dank Mono Italic';
  src: local('Dank Mono Italic'), url('./assets/DankMono-Italic.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Dank Mono Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
